body {
    font-family: 'Montserrat', sans-serif;
}

#title, #testimonials, #pricing, #footer {
    background-color: #FF4C68;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

/* Nav */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
}

/* Title */

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

#title .btn {
    margin: 5% 3% 5% 0;
}

#title img {
    transform: rotate(25deg);
    width: 60%;
}

/* Icons */

i {
    color: #EF8172;
    font-size: 3rem;
    margin-bottom: 1rem;
}

i:hover {
    color: #FF4C68;
}

/* Features */

h3 {
    font-weight: 900;
}

#features {
    padding: 7% 15%;
}

#features .col-lg-4 {
    padding: 5%;
}

#features p {
    color: #8F8F8F;
}

/* Footer */

#footer img {
    margin-bottom: 1rem;
}